{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password-change.css' %}">
</head>
<body>
    <div class="main">
        <h1 class="logo">Tiger Exchange</h1>
        <h1 class="reset-header">Change your password</h1>
        {% if form.errors %}
            <div class="bad-input">
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <label for="old_password">Old Password</label>
                <input class="form-control" type="password" id="old_password" name="old_password">

                <label for="new_password1">Password</label>
                <input class="form-control" type="password" id="new_password1" name="new_password1">

                <label for="new_password2">Confirm password</label>
                <input class="form-control" type="password" id="new_password2" name="new_password2">

                <input class="submit-btn" type="submit" value="Change Password">
            </form>
        </div>
    </div>
</body>
</html>