

.container {
    border: 1px solid black;
    width: 175px;
    height: 125px;
}

.conatiner img{
    margin-top:35px;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 20px;
    height: 215px;
    width: 215px;
}

.catalog {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*.container {
 position:relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 30px;
 margin-top: 8%;
}
*/
