{% extends 'base.html' %}
{% block title %}Create a listing{% endblock %}

{% block content %}
    <div>
        <h1>Create A Listing</h1>
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input name="title" type="text" class="form-control myform-control" id="product-title" placeholder="Chicken Soup" required>
                <label for="product-title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="description" class="form-control myform-control" placeholder="Description" id="product-description" style="height: 100px" required></textarea>
                <label for="product-description">Description</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input name="price" type="text" class="form-control myform-control" required>
            </div>
            <select class="form-select mb-3" aria-label="categories" name="category" required>
                <option value="1" selected>Cetegory</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <div class="input-group mb-3">
                <input name="image" type="file" class="form-control" id="inputGroupFile02" required>
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <input type="submit" class="btn btn-success" value="Create Listing">
            <script>
                (() => {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.from(forms).forEach(form => {
                        form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                        }, false)
                    })
                })()
            </script>
        </form>
    </div>
{% endblock %}