{% extends 'base.html' %}
{% load static %}

{% block title %}Clemson Exchange{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/home.css' %}">
{% endblock %}

{% block search%}
{% url 'my_app:home' %}
{% endblock%}

{% block content %}

<div class="grid-container">
  {% for listing in listings %}
  <a class="to-detail-view" href="{% url 'my_app:listing_detail' listing.pk 'detail' %}">
  <div class="listing-container">
      <img src="{{ listing.image.url }}">
      <div class="listing-container__footer">
          <p class="listing-container__price">${{ listing.price|truncatechars:25|default:"..." }}</p>
          <h3 class="listing-container__title">{{ listing.title|truncatechars:27|default:"..." }}</h3>
      </div>
  </div>
  </a>
  {% endfor %}
</div>


{% endblock %}