{% extends "base.html" %}
{% load static %}

{% block content %}

      <div class="column"> 
        <div class="row">
                  <img src="{% static 'my_app/airpods.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
                  <img src="{% static 'my_app/lebronjersey.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
                  <img src="{% static 'my_app/applewatch.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
                  <img src="{% static 'my_app/cheetofsale.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
                <h2 style="padding-left: 65px; padding-right: 50px">$110</h2>
                <p style="padding-left: 65px; padding-right: 50px">AirPods 2nd Generation</p>

                 <!-- <h2>$90</h2>
                  <p>Miami Heat Lebron James Jersey</p>
                 
                    <h2>$130</h2>
                    <p>AppleWatch</p>
                       
                      <h2>$2500</h2>
                      <p>Ghost Shape</p> -->
        </div>
       <!-- <div class="row">
          <img src="{% static 'my_app/macbookpro.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
          <img src="{% static 'my_app/bluetoothkeyboard.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
          <img src="{% static 'my_app/shoes.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
          <img src="{% static 'my_app/worldcoins.jpg' %}" style="margin: 65px 65px 5px 65px" height="215px" width="215px">
        <h2 style="padding-left: 65px; padding-right: 50px">$175</h2>
        <p style="padding-left: 65px; padding-right: 50px">Macbook Pro</p> -->

         <!-- <h2>$90</h2>
          <p>Miami Heat Lebron James Jersey</p>
         
            <h2>$130</h2>
            <p>AppleWatch</p>
               
              <h2>$2500</h2>
              <p>Ghost Shape</p> -->
      </div>
      </div>

     
     <!-- <img src="{% static 'my_app/macbookpro.jpg' %}" style="margin:65px" height="215px" width="215px">
      <img src="{% static 'my_app/bluetoothkeyboard.jpg' %}" style="margin:65px" height="215px" width="215px">
      <img src="{% static 'my_app/shoes.jpg' %}" style="margin:65px" height="215px" width="215px">
      <img src="{% static 'my_app/worldcoins.jpg' %}" style="margin:65px" height="215px" width="215px"> -->

{% endblock %}
