{% extends 'base.html' %}
{% load static %}

{% block title %}{{ listing.title }}{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/listing_detail.css' %}">
{% endblock %}

{% block content%}
<div class="tt-container">
    <img class="listing-image" src="{{ listing.image.url }}">
    <div class="detail-container">
        <h2>{{ listing.title }}</h2>
        <hr>
        <h3>Description </h3>
        <p>{{ listing.description }}</p>
        <hr>
        <h3>Seller: <a class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="">{{ listing.author }}</a></h3>
        <hr>
        <h3>Price: ${{ listing.price }}</h3>
        <hr>
        {% if not is_owner  %}
            <button type="button" class="btn btn-success me-3">Add to Cart</button>
            <button type="button" class="btn btn-primary me-3">Add to Watchlist</button>
            <button type="button" class="btn btn-secondary">Message Seller</button>
        {%endif%}
    </div>
</div>
{% endblock %}