{% extends 'base.html' %}
{% load static %}

{% block title %}My Listings{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/my_listings.css' %}">
{% endblock %}

{% block search%}
{% url 'my_app:my_listings' %}
{% endblock%}

{% block content%}
<div class="tt-container">
    <h1 class="tt-heading">My Listings</h1>
    <div class="grid-container">
        {% for listing in page_obj %}
        <a class="to-detail-view" href="{% url 'my_app:listing_detail' listing.pk %}">
        <div class="listing-container">
            <img src="{{ listing.image.url }}">
            <div class="listing-container__footer">
                <p class="listing-container__price">${{ listing.price|truncatechars:25|default:"..." }}</p>
                <h3 class="listing-container__title">{{ listing.title|truncatechars:27|default:"..." }}</h3>
            </div>
        </div>
        </a>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
          
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
          
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
          </div>
    </div>
</div>
{% endblock %}
