{% extends 'base.html' %}
{% load static %}

{% block title %}My Listings{% endblock %}

{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'my_app/css/my_listings.css' %}">
{% endblock %}

{% block search%}
{% url 'my_app:my_listings' %}
{% endblock%}

{% block content%}
<div class="tt-container">
    <h1 class="tt-heading">My Listings</h1>
    <div class="grid-container">
        {% for listing in listings %}
        <a class="to-detail-view" href="{% url 'my_app:listing_detail' listing.pk %}">
        <div class="listing-container">
            <img src="{{ listing.image.url }}">
            <div class="listing-container__footer">
                <p class="listing-container__price">${{ listing.price|truncatechars:25|default:"..." }}</p>
                <h3 class="listing-container__title">{{ listing.title|truncatechars:27|default:"..." }}</h3>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
