html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik', sans-serif !important;
    background-color: #0d1117;
    line-height: 1.5;
    color: #c9d1d9;
    display: grid;
    justify-content: center;
}

.main {
    margin-top: 25px;
}

.reset-header{
    display: block;
    font-size: 24px;
    letter-spacing: -0.5px;
    text-align: center;
    text-shadow: none;
    color: #c9d1d9;
    font-weight: 300;
    margin-top: 0;
}

.container {
    padding: 16px;
    font-size: 14px;
    width: 308px;
    height: 130px;
    color: #C9D1D9;
    background-color: #161B22;
    border: 1px solid #21262d;
    border-radius: 6px;
}

.btn {
    margin-top: 16px;
    display: block;
    width: 100%;
    text-align: center;
    color: #c9d1d9;
    background-color: #21262d;
    box-shadow: 0 0 transparent, 0 0 transparent;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    font-size: 14px;
    padding: 5px 16px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgba(240, 246, 252, 0.1);
    border-radius: 6px;
    appearance: none;
    text-decoration: none;
}

.btn:hover {
    border-color: white;
    box-shadow: 0 0 transparent, 0 0 transparent;
}

p {
    padding: 0;
    margin: 0;
}

.logo {
    text-align: center;
    color: #F56600;
    margin-bottom: 0;
}