<!--{% load static %} -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="{% static 'LoginPage/style.css' %}"> -->
    <title>base title</title>
    <style>
        body {
            background-color: black;
        }
        h3 {
            color: orangered;
        }
    </style>
</head>

<body>
    <header>
        <h3>Tiger</h3>
        <h3>Exchange</h3>
    </header>
    {% block content %}
 
    {% endblock %}
    <footer>
        <h1>This is the footer</h1>
    </footer>
</body>

</html>